*{
    margin: 0;
    padding: 0;
} 
.ancho{
    width: 100%; 
    margin: auto;
} 
.imagenes{
    position: fixed;   
}
.carousel-inner{
    filter:brightness(0.8)
}
.texto{
    position: relative;
    top: 5%;
    color: rgb(19, 3, 3);
}
.conf{
    color: white;
}
.conoce{
    font-size: 1.3rem;
}
.oradores{
    font-size: 2.8rem;
}
.boton{
    background-color: rgb(98, 41, 229);
    color: white;
}
.nombre{
    position: absolute;
    left: 29rem;
}
.apellido{
    position: absolute;
    right: 29rem
}
.footer{
    background-color:rgb(23, 15, 238) ;
    height: 7rem;
    color: rgb(252, 252, 253);
}
.alinear h1{
    display: inline;
    vertical-align: middle;
}
@media screen and (max-width:1200px) {
    .texto{
        zoom:25%;
        text-align: end;
    }
}
@media screen and (max-width:480px) {
    .alinear h1{
        font-size: 18px;
    }
}
.logo{
    text-decoration: none;
}
@media screen and (max-width:1200px) {
    .linksfinales{
        display: block;
        margin-left: 5vh;
    }
    .footer{
        height: 12rem;
    }
}